@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  background-color: #746F6E;
  background-image: linear-gradient(#746F6E, #463A38);
  background-attachment: fixed;
  width: 100vw;
}

#siteName {
  font-family: 'Rubik Pixels', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 10vmin;
  text-align: center;
  text-shadow: 2px 2px 1px #FF0000
}

#subTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2vmin;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}